<!DOCTYPE HTML>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="main-content">
    {{> header }}
    <p>This site was created by Nauman. It uses data from mapbox.</p>
    <img class="portrait" src="/img/nauman1.jpg">
</div>
{{> footer }}
</body>

</html>